<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" type="text/css">
    <title>Celsignature.com</title>
</head>
<body>
    <article>
        <header>

            <div class="brand">
                <span>Cel-Signature</span>
            </div>

            <div>
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>Shop
                            <ul>
                                <li>Men</li>
                                <li>Women</li>
                                <li>Children</li>
                            </ul>
                        </li>
                        <li>Services</li>
                        <li>Contact</li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

        </main>


        <footer>
            <div class="foot-details">

                <div class="foota-details">
                    <h3>Celsignature</h3>
                    <p style="line-height: 1rem;" >Meet your pefect fashion taste here at Cel-signature </p>
                </div>

                <div class="address">
                    <h3>Address</h3>
                    <div class="add-p">
                        <p>1 D/LINE STREET</p>
                        <p>09087645112</p>
                        <p>contact@gmail.com</p>
                    </div>
                </div>

                <div class="Extra">
                    <h3>Extra Links</h3>
                    <ul class="Extra-link">
                        <li>Services</li>
                        <li>Blog</li>
                        <li>Contact</li>
                        <li>Shop</li>
                        <li>About Us</li>
                        <li>Welcome</li>
                    </ul>
                </div>

                <div class="recent-link">

                    <h3>Recent News</h3>

                    <div class="recent">
                        <p><a href="#">Set a Fashion Trend!</a></p>
                    </div>

                    <div class="f-news">
                        <p>What's Better Than One Dress?</p>
                    </div>

                    <div class="s-news">
                        <p>False breakage</p>
                    </div>
                </div>

            </div>

            <div class="last-foot">

                <div class="foot-text">
                    <p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
                    Cel Signature Made by Treyp Keegan </p>
                </div>

                <div class="foot-navb">
                    <ul>
                        <li>Home</li>
                        <li>Shop</li>
                        <li>Services</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </footer>
    </article>
</body>
</html>