<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainindex.css" type="text/css">
    <title>Document</title>
</head>
<body>
    
        <div class="home-slide">
            <div class="wrap">
                <div id="arrow-left" class="arrow"></div>
                <div class="slider">
                    <div class="slide slide1">
                        <div class="slide content">
                            <span>
                                Image one
                            </span>
                        </div>
                    </div>

                    <div class="slide slide2">
                        <div class="slide content">
                            <span>
                                Image two
                            </span>
                        </div>
                    </div>

                    <div class="slide slide3">
                        <div class="slide content">
                            <span>
                                Image three
                            </span>
                        </div>
                    </div>
                </div>
                <div id="arrow-right" class="arrow"></div>
            </div>
        </div>
    
</body>
</html>